<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main GUI</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/4f34d49ca0.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script src="../static/js/scripts.js">
    </script>
    <script src="../static/js/connection.js">
    </script>
    <script type="text/javascript">
      function startTime() {
          var today = new Date();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById('clock').innerHTML =
          h + ":" + m + "<span>:" + s + "</span>";
          var t = setTimeout(startTime, 500);
          }
          function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
      }
    </script>
    <script type="text/javascript">
      var minutesLeft;
      var secondsLeft;
      var stop = 0;

      function timer() {
        if (secondsLeft <= 0 && stop == 0) {
          secondsLeft = 59;
          minutesLeft = minutesLeft - 1;
        } else {
          secondsLeft = secondsLeft - 1;
        }
        if (secondsLeft < 10 && stop == 0) {
          secondsLeft = "0" + secondsLeft;
        }
        if (minutesLeft < 10 && stop == 0) {
          minutesLeft = "0" + minutesLeft;
        }
        if (minutesLeft == 0  && stop == 0) {
          document.getElementById("countdown").innerHTML = "0:00<span>:" + secondsLeft + "</span>";
        } else {
          document.getElementById("countdown").innerHTML = "0:" + minutesLeft + "<span>:" + secondsLeft + "</span>";
        }
        if (minutesLeft <= 0 && secondsLeft <= 0) {
          stop = 1;
          document.getElementById("countdown").innerHTML = "STOP";
        }
      }
    </script>
    <script type="text/javascript">
      // Make connection
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/');

      // Get variables and paste them into the website
      socket.on("Update", function(update) {
        document.getElementById('speed').innerHTML = update.Speed;
        document.getElementById('Mppt1').innerHTML = '<span>MPPT1</span>' + update.Mppt1_P;
        document.getElementById('Mppt2').innerHTML = '<span>MPPT2</span>' + update.Mppt2_P;
      });
    </script>
  </head>
  <body onload="startTime()">

    <iframe src="http://192.168.178.249:3000/d-solo/-Ln-R-aWk/solar-emelwerda-testing?orgId=2&from=now-5m&to=now&refresh=1s&panelId=2" width="450" height="200" frameborder="0"></iframe>
    <iframe id="estela" class="estela" width="560" height="315" src="https://www.estela.co/en/tracking-race/5247/xvii-trofeo-del-viejo-club-1" frameborder="0" allowfullscreen></iframe>

    <div class="timepopup" id="timepopupdiv">
      <div id="timepopup">
        <!-- <i class="fas fa-times" id="closeTime"></i> -->
        <h3 id="timebtn">Huidige Tijd</h3>
        <h3 id="countdownbtn">Countdown (1 uur)</h3>
        <h3 id="laptimebtn">Ronde Tijd</h3>
      </div>
    </div>

    <div class="wattpopup" id="wattpopupdiv">
      <div id="wattpopup">
        <!-- <i class="fas fa-times" id="closeWatt"></i> -->
        <h3 id="Mppt1"><span>MPPT 1</span>95 W</h3>
        <h3 id="Mppt2"><span>MPPT 2</span>90 W</h3>
      </div>
    </div>

    <div class="menu" id="menu">
      <div class="toggle" id="menuToggle">
        <i id="toggle" class="fas fa-chevron-right"></i>
      </div>
      <div class="items">
        <a class="home" href="GUI.html">
          <i class="fas fa-home"></i>
        </a>
        <a class="grafana" href="diagnostics.html">
          <i class="fas fa-chart-bar"></i>
        </a>
        <div class="map" id="map">
          <i class="fas fa-map-marked-alt"></i>
        </div>
      </div>
    </div>

    <div class="error" id="error" style="display:block;">
      <h3><i class="fas fa-times" id="errorbtn"></i>Error</h3>
    </div>

    <div class="info">
      <div class="statusbar">
        <p id="speed">15.6 Km/u</p>
        <i class="fas fa-battery-three-quarters"></i>
        <i class="fas fa-wifi"></i>
      </div>
      <div class="infodiv">
        <div class="laps">
          <p>Rondes</p>
          <h3>5<span>/8</span></h3>
        </div>
        <div class="time" id="time">
          <p id="timetag">Huidige tijd:</p>
          <h3 id="clock">Tijd</h3>
          <h3 id="countdown" style="display:none;">1:00<span>:00</span></h3>
          <h3 id="laptime" style="display:none;">0m00s</h3>
        </div>
      </div>
      <div class="watt" id="wattdiv">
        <p>Gem / Vermogen:</p>
        <h3 id="watt">-1300 W<span> /<br> -1345 W</span></h3>
      </div>
      <div class="volt" id="voltdiv">
        <p>Spanning:</p>
        <h3 id="volt">23.8 V</h3>
      </div>
    </div>
  </body>
</html>
